/* General Page Style */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

/* Hero Section with Minecraft Background Animation */
.hero {
  position: relative;
  height: 100vh;
  background: url('https://i.imgur.com/vKwYijh.gif') no-repeat center center fixed; /* Minecraft GIF */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  z-index: 1;
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-buttons a {
  display: inline-block;
  text
